<mat-toolbar color="primary">
  <div class="container header">

    <div class="logo">
      <span>Say</span>
      <mat-icon color="warn"> message</mat-icon>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['/main']">Main</button>

    <form class="search-form">
      <mat-form-field>
        <mat-label>Find people</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
            {{user}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="accent" class="find-btn" (click)="findUser()">Find</button>
    </form>

    <div class="auth">
      <h3>{{authService.authName | async}}</h3>
      <mat-icon color="accent">person</mat-icon>
      <button mat-raised-button color="accent" [routerLink]="['/login']" *ngIf="!isAdmin && !isAuth; else logoutBlock">Login</button>
      <ng-template #logoutBlock>
        <button mat-raised-button color="accent" (click)="authService.logout()" >Logout</button>
      </ng-template>
      <button mat-raised-button color="accent" *ngIf="isAdmin" [routerLink]="['/admin']">Create user</button>
    </div>

  </div>
</mat-toolbar>
