:host {
  flex: 0 0 auto;
}

mat-toolbar {
  height: 100px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    mat-form-field {
      width: 350px;
    }

    .search-form-mobile {
      display: none;
    }

    .lang-form-mobile {
      display: none;
    }

    .auth {
      display: flex;
      align-items: center;

      button {
        margin-left: 10px;
      }
    }

    .find-btn {
      margin-left: 10px;
    }
  }
}

.lang {
  width: 176px !important;
}

@media all and (max-width: 1020px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    .search-form {
      width: 150px;

      .search-field {
        width: 150px !important;
      }
    }
    .lang-form {
      display: none;
    }

    .lang-form-mobile {
      display: block !important;
      .lang {
        width: 100px !important;
      }
    }

    .search-form {
      display: none;
    }
    .search-form-mobile {
      display: block !important;
      width: 100px;

      .search-field-mobile {
        width: 100px;
      }
    }
  }
}
