<mat-toolbar color="primary">
  <div class="container header">

    <div class="logo">
      <span>Say</span>
      <mat-icon color="warn"> message</mat-icon>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['/main']">Main</button>

    <form class="search-form">
      <mat-form-field>
        <input matInput placeholder="Find people">
      </mat-form-field>
    </form>

    <div class="auth">
      <h3>Name</h3>
      <mat-icon color="accent">person</mat-icon>
      <button mat-raised-button color="accent">Login</button>
    </div>


  </div>
</mat-toolbar>