<form class="admin-form" [formGroup]="form">
  <h2>{{'ACTIONS.NEW' | translate}}</h2>

  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'FORM.NAME' | translate}}</mat-label>
    <input matInput formControlName="name" placeholder="Enter name">
    <mat-error *ngIf="name.hasError('required')">
      Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'FORM.SURNAME' | translate}}</mat-label>
    <input matInput formControlName="surname" placeholder="Enter surname">
    <mat-error *ngIf="surname.hasError('required')">
      Surname is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{'FORM.BIRTHDAY' | translate}}</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="birthday.hasError('required')">
      Birthday is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="birthday.hasError('birthdayValidation')">
      {{form.get('birthday')?.getError('birthdayValidation')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'FORM.COUNTRY' | translate}}</mat-label>
    <input matInput formControlName="country" placeholder="Enter country">
    <mat-error *ngIf="country.hasError('required')">
      Country is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="field">
    <mat-label>{{'FORM.CITY' | translate}}</mat-label>
    <input matInput formControlName="city" placeholder="Enter city">
    <mat-error *ngIf="city.hasError('required')">
      City is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <div class="admin-form">
    <h3>{{'FORM.EDUCATION' | translate}}</h3>
    <button mat-raised-button (click)="addUniversity()">{{'BTNS.ADDUNIVERSITY' | translate}}</button>

    <div class="admin-form" formArrayName="education" *ngFor="let control of getControls(); let i=index">
      <ng-container class="form-control" [formGroupName]="i">

        <mat-icon class="close-btn" (click)="deleteUniversity(i)">cancel</mat-icon>

        <mat-form-field appearance="outline" class="field">
          <mat-label>University</mat-label>
          <input matInput formControlName="university" placeholder="Enter university">
          <mat-error *ngIf="university.hasError('required')">
            University is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>{{'FORM.ENTEREDAT' | translate}}</mat-label>
          <input matInput formControlName="enteredAt" placeholder="Enter year">
          <mat-error *ngIf="enteredAt.hasError('required')">
            Year is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="enteredAt.hasError('integer')">
            Please, enter year!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>{{'FORM.GRADUETEDAT' | translate}}</mat-label>
          <input matInput formControlName="graduatedAt" placeholder="Enter year">
          <mat-error *ngIf="graduatedAt.hasError('required')">
            Year is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="graduatedAt.hasError('graduetedValidation')">
            Your date is incorrect!
          </mat-error>
          <mat-error *ngIf="graduatedAt.hasError('integer')">
            Please, enter year!
          </mat-error>
        </mat-form-field>
      </ng-container>
    </div>
  </div>

  <button type="button" class="photo-btn" mat-raised-button (click)="fileInput.click()">{{'ACTIONS.PHOTO' |
    translate}}</button>
  <input hidden (change)="onFileSelected($event)" #fileInput type="file">

  <button class="create-btn" mat-raised-button color="accent" [disabled]="form.invalid"
    (click)="submit()">{{'ACTIONS.CREATE' | translate}}</button>
</form>