:host {
  flex: 0 0 auto;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .git-info,
  .phone-info {
    display: flex;
    align-items: center;
  }
}
