.post-block {
  width: 1000px;
  margin: 5px auto;
  padding: 10px;
  border: 1px dashed #ff4081;
  border-radius: 15px;

  .like {
    display: flex;
    align-items: center;
  }
}
p {
  margin: 0;
}

@media all and (max-width:1440px) {
  .post-block {
    width: 1000px;
  }
}

@media all and (max-width:1200px) {
  .post-block {
    width: 1000px;
  }
}

@media all and (max-width:1000px) {
  .post-block {
    width: 800px;
  }
}

@media all and (max-width:800px) {
  .post-block {
    width: 500px;
  }
}

@media all and (max-width:500px) {
  .post-block {
    width: 300px;
  }
}
